@model DrinkDatabase.Models.DrinkIngredient
<div class="row">
    <div class="col-md-4">
        @Html.DisplayTextFor(model => model.Brand)
    </div>

    <div class="col-md-4">
        @ViewBag.ingredientName
    </div>

    <div class="col-md-4">
        @Html.DisplayTextFor(model => model.Amount)
    </div>
</div>