@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Drinks</h1>
    <p class="lead">I should probably not route to this page.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">get started &raquo;</a></p>
</div>